@using Repositories.Models;
@model Repositories.Models.Trip

<h1>Update Item</h1>

<form asp-action="Update" method="post" enctype="multipart/form-data">
@* <h2 hidden=true>@Model.c_tripid</h2> *@
<input type="hidden" asp-for="c_tripid" value="@Model.c_tripid"/>
  <div class="form-group">
    <label >Trip:</label>
    <select asp-for="c_trip" class="form-control" required>
        <option value="">Select Trip</option>
        <option value="Surat-To-Mumbai">Surat-To-Mumbai</option>
        <option value="Mumbai-To-Surat">Mumbai-To-Surat</option>
        <option value="Surat-To-Diu">Surat-To-Diu</option>
         <option value="Diu-To-Surat">Diu-To-Surat</option>
    </select>
</div>

    <div class="form-group">
        <label >Price:</label>
        <input asp-for="c_tripprice" value="@Model.c_tripprice" class="form-control" required />
    </div>
    <div class="form-group">
        <label >Ticket Stock:</label>
        <input asp-for="c_triptotalticket" class="form-control" required />
    </div>
    <div class="form-group">
        <label >Current Stock:</label>
        <input asp-for="c_tripcurrentticket" class="form-control" required />
    </div>
   
    <button type="submit" class="btn btn-primary">Save</button>
</form>