@{
    ViewData["Title"] = "Home Page";
}

<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="text-center" style="margin-top: 50px;">
    <a href="User/" class="btn btn-primary" style="margin-right: 10px;">Task</a>
    <a href="Executive/Login" class="btn btn-primary">Login</a>
</div>

